.realtime {width: 200px; clear: both; margin: 20px 0px;}


.realtime ul {margin: 40px 0px; background: #e0e0e0;}

.realtime span{
	display: block; width: 70%; 
	height: 14px; font-size: 12px; 
	margin: 10px 0px;
}

#statsChart{
	width: 95%;
	height: 250px;
	margin-top: 35px;
}