<!DOCTYPE html>
<html>
<head>
    <title>AutoComplate</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap -->
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/icons.css">

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.css">
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/web-app-icons.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- libraries -->
    <link href="css/autocomplate.css" rel="stylesheet" type="text/css">
    <link href="css/stock.css" rel="stylesheet" type="text/css">
</head>
<body>
<section>
    <div id="example">
        <h3>Example</h3>
        <form action="#">
            <input type="text" placeholder="Stock symbol or short" id="plugin" onkeyup="this.value=this.value.toLocaleUpperCase()"/>
        </form>
    </div>
    <div id="selected" class="span3 stat">
        <h3>Selected Item</h3>
        <p></p>
    </div>
    <div id="chart" class="clear">
        <img src="" alt="">
    </div>

    <div id="stock_realtime" class="realtime">

    </div>

</section>

</body>
    <script type="text/template" id="realtime_template">
        <span class="btn-flat white">代码<%= stock_info.symbol %></span>
        <span class="btn-flat white">名称<%= stock_info.name %></span>
        <span class="btn-flat white">昨收盘<%= stock_info.close %></span>
        <span class="btn-flat white">今开盘<%= stock_info.open %></span>
        <span class="btn-flat white">最高价<%= stock_info %></span>
        <span class="btn-flat white">最低价<%= stock_info %></span>
    </script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.js"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
<script src="/js/backbone.autocomplete.js"></script>
<script src="/js/stock.list.objects.js"></script>
<script type="text/javascript">
    $(function () {

        /* ================================
         * AutoComplate 
         * ================================ 
         */ 

        var Plugin = Backbone.Model.extend({
            label: function () {
                return this.get("symbol") +"  "+ this.get("short") ;
            },
            label_for_show: function(){
                return this.get("symbol") +" "+ this.get("name") ;
            }
        });

        var PluginCollection = Backbone.Collection.extend({
            model: Plugin
        });

        // object {"symbol":"sz000030","short":"FAGF","name":"富奥股份"},
        var plugins = new PluginCollection(STOCK_LIST_OBJECTS);

        new AutoCompleteView({
            input: $("#plugin"),
            model: plugins,
            onSelect: function (model) {
                // AutoComplate list
                $("#selected").show().find("p").html(model.label_for_show());
                // Chart Image
                $("#chart").find("img").attr('src','http://chart.7878.com/kd/'+model.get("symbol")+'.gif');
            }
        }).render();


        /* 
         * =============================================================
         * fetch 
         * ============================================================= 
         */ 

        // Person Model
        var OneStockModel = Backbone.Model.extend({
            initialize:function(){
                console.log("create a model");
            },
            defaults:{
                symbol:'',
                time:'',
                name:'',
                close:'',
                open:'',
                high:'',
                low:'',
                current:'',
                volumn:'',
                amount:'',
                buy1:'',
                buy2:'',
                buy3:'',
                buy4:'',
                buy5:'',
                sell1:'',
                sell2:'',
                sell3:'',
                sell4:'',
                sell5:'',
                volumn_buy1:'',
                volumn_buy2:'',
                volumn_buy3:'',
                volumn_buy4:'',
                volumn_buy5:'',
                volumn_sell1:'',
                volumn_sell2:'',
                volumn_sell3:'',
                volumn_sell4:'',
                volumn_sell5:''
            }
        });

        // A List of People
        var StocksCollection = Backbone.Collection.extend({
            model: OneStockModel,
            parse:function(objects){
                var result = {};
                console.log('parse first');
                $.each(objects , function(key, response) {

                    var item = {
                        symbol: response.c,
                        time:   response.t,
                        name:   response.n,
                        close:  response.lc,
                        open:   response.o,
                        high:   response.h,
                        low:    response.l,
                        current:    response.np,
                        volumn: response.v,
                        amount: response.a,
                        buy1:   response.bp[0],
                        buy2:   response.bp[1],
                        buy3:   response.bp[2],
                        buy4:   response.bp[3],
                        buy5:   response.bp[4],
                        sell1:  response.sp[0],
                        sell2:  response.sp[1],
                        sell3:  response.sp[2],
                        sell4:  response.sp[3],
                        sell5:  response.sp[4],
                        volumn_buy1:    response.bv[0],
                        volumn_buy2:    response.bv[1],
                        volumn_buy3:    response.bv[2],
                        volumn_buy4:    response.bv[3],
                        volumn_buy5:    response.bv[4],
                        volumn_sell1:   response.sv[0],
                        volumn_sell2:   response.sv[1],
                        volumn_sell3:   response.sv[2],
                        volumn_sell4:   response.sv[3],
                        volumn_sell5:   response.sv[4]
                    };

                    objects[key] = item;
                });

                return objects;
            },
            renderItem:function(){
                console.log('renderItem');
                this.each(function(single) {
                    console.log("collection symbol:");
                    console.log(single.toJSON());

                    var oneStockView = new OneStockView({ model: single });
                    $('#stock_realtime').append(oneStockView.render().el);
                }, this);
            }
        });


        // View for all people
        var StocksView = Backbone.View.extend({
            tagName: 'ul',
            initialize: function(){
                // this.listenTo(this.collection, 'add', this.render());
            },

            render: function() {
                this.collection.each(function(person) {
                    console.log(person);

                    var oneStockView = new OneStockView({ model: person });
                    this.$el.append(oneStockView.render().el);
                }, this);

                return this;
            }
        });

        // The View for a Person
        var OneStockView = Backbone.View.extend({
            tagName: 'li',

            template: _.template($('#realtime_template').html() ),
            
            render: function() {
                console.log("one stock view");

                this.$el.html( this.template( {"stock_info":this.model.toJSON() } ) );
                console.log(this);
                return this;
            }
        });

        
        var theStocksCollection = new StocksCollection();
        theStocksCollection.fetch({url:'http://api.stockbro.com/stock/realtime/ddd',
            success:function(collection,response){
                console.log(collection);
                console.log(response);
                theStocksCollection.renderItem();

                collection.each(function(single){
                    console.log("collection symbol:"+single.get('symbol'));
                    // console.log("success"+single.get('name'));
                    // console.log("success"+single.get('volumn_buy1'));
                })
            },
            error:function(collection, response){
                console.log(collection);
                console.log(response);
                alert('error');
            }
        });


        // var peopleView = new StocksView({ collection: theStocksCollection });
        // $('#stock_realtime').append(peopleView.render().el);




    });
</script>

</html>